.vs/OpenGLWorkshop/FileContentIndex
.vs/OpenGLWorkshop/v17/ipch/AutoPCH
.vs/OpenGLWorkshop/v17/Browse.VC.db
.vs/OpenGLWorkshop/v17/DocumentLayout.json
.vs/OpenGLWorkshop/v17/HierarchyCache.v1.txt
.vs/OpenGLWorkshop/v17/Solution.VC.db
OpenGLWorkshop/bin
OpenGLWorkshop/intermediate
